html,
body {
  font-size: 16px !important;
  word-wrap:normal !important;
  background-color: var(--grybg);
  padding: 0;
  margin: 0;

}
.videodisp{
  width: 100%;
  
}
a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
   
    background: black;
  }
}
@media(max-width:670px){

  .brand1{
    display: none;
  }
 }

@media(min-width:670px){
  .home_center{
    display: flex;
    margin-left: 5%;
  
    margin-right: 5%;
flex: 1;

    justify-content: space-between;
  }
.first_list{
background-color: rgb(226, 223, 223) !important;
flex: 0.3;
width: 100%;
}
.middle{
  background-color: rgb(226, 223, 223) !important;
  flex: 0.4;
  width: 100%;
}
.right{
  background-color: rgb(226, 223, 223) !important;
width: 100%;
flex: 0.3;
}
.route_lis{
  margin-left: 4%;
  
  margin-right: 4%;

}
    .videodisp{

    

display: grid;
grid-template-columns: repeat(3,1fr);
gap:10px;
margin-top: 0px;
 }
 .brand2{
   display: none;
 }
}
/* .home_center{
  background-color: red;
  
 
}
.home{
  background-color: green !important;
  width: 100% !important;
} */



.headflex{
display: flex;
align-items: center;
justify-content: space-between;
overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.headflex::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.headflex {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.home{
  padding-bottom: 20px;
    background-color: rgba(0,0,0,0.05);;
width: 100%;
}
/* .home_center{
  background-color: red;
} */
.home_list{
  margin: 10px;

}
.home_list>p{
  margin: 10px;
  color: tomato;
  font-weight: 700;
}
.brand1>p{
  margin: 10px;
  color: tomato;
  font-weight: 700;
}
.brand2>p{
  margin: 10px;
  color: tomato;
  font-weight: 700;
}
.videodisp{
        width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  margin-top: 0px;
   }


   /* theme */
   [data-theme='dark'] body {
    color: #fff ;
    background: rgb(0, 0, 0);
    }
    [data-theme='dark'] .icgrid {
    
        border:1px solid  #2195f357;
    }
    [data-theme='dark'],
    [data-theme='dark'] .home {
          color: var(--accents-6);
    background: rgb(0, 0, 0);
    }
    [data-theme='dark'] .appBar{
      color: #fff;
      background:rgb(12, 20, 37);
      }
      [data-theme='dark'] .menuCard_list>a{
        color: var(--accents-6);
        background:rgb(12, 20, 37);
        color: #fff;
        }
    [data-theme='dark'] .listCard{
      color: #fff;
      border: none;
      background:rgb(12, 20, 37);
   
      }
    
    [data-theme='dark'],
    [data-theme='dark'] .listCard1{
          color: var(--accents-6);
    background:rgb(15, 21, 34);
    color: #fff;
    }
    [data-theme='dark'] .listCard2{
      color: var(--accents-6);
background:rgb(15, 21, 34);
color: #fff;
}
    [data-theme='dark'] .home_center{
      color: #fff;
background:rgba(15, 21, 34, 0.788);

}
[data-theme='dark'] .home{
  color: #fff;
background:rgba(15, 21, 34, 0.788);

}
[data-theme='dark'] .right{
  color: #fff;
  background:rgba(35, 42, 58, 0.247) !important;

}
[data-theme='dark'] .first_list{
  color: #fff;
background:rgba(35, 42, 58, 0.247) !important;

}
[data-theme='dark'] .middle{
  color: #fff;
  background:rgba(35, 42, 58, 0.247) !important;

}
    [data-theme='dark'],
    [data-theme='dark'] .video{
      color: #fff;
    background:rgb(15, 21, 34);
    }
    [data-theme='dark'],
    [data-theme='dark'] .product_card{
      color: #fff;
    background:rgb(15, 21, 34);
    }
    [data-theme='dark'],
    [data-theme='dark'] .menuCard1{
  color: #fff;
    background:rgb(15, 21, 34);
    }
    [data-theme='dark'],
    [data-theme='dark'] .card__contenttitle>h5{
          color: var(--accents-6);
    }
    [data-theme='dark'],
    [data-theme='dark'] .card__contentdescription p{
          color: var(--accents-6);
    }
    
    [data-theme='dark'] .img__card{
    border: 1px solid rgb(19, 47, 76);
    }
    
    [data-theme='dark'] .card__headerright>.MuiSvgIcon-root{
    color: whitesmoke;
    }
    [data-theme='dark'],
    [data-theme='dark'] .footer_card_icon{
     color: var(--accents-6);
    }
    [data-theme='dark'],
    [data-theme='dark'] .footer_card_icon>.MuiSvgIcon-root{
     color: var(--accents-6);
    }
    [data-theme='dark'],
    [data-theme='dark'] .card_footer_all{
    color: white;
    }
    [data-theme='dark'],
    [data-theme='dark'] .search_input{
    color: #fff;
    background:rgb(15, 21, 34);
    border:1px solid  #2195f317;
    
    }
    [data-theme='dark'] .search_input>input{
      color: #fff;
      background:rgb(15, 21, 34);
      border: none;
      
      }
    [data-theme='dark'] .listCard_content{
color: whitesmoke !important;
    }
    [data-theme='dark'] .cont{
      color: whitesmoke !important;
          }
          [data-theme='dark'] .product_card_cont{
            color: whitesmoke !important;
                }
                [data-theme='dark'] .menuCard_list>a{
                  color: whitesmoke !important;
                      }
               
               
                      [data-theme='dark'] .listCard_content2>div{
                        color: whitesmoke !important;
                            }
