.listCard{
    display: flex;
    align-items: center;
margin-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
height: 100px;
font-family: 'Quicksand', sans-serif;
}
.listCard1{
  display: flex;
  align-items: center;
margin-bottom: 10px;
background-color: white;
border-bottom: 1px solid lightgrey;
height: 130px;
font-family: 'Quicksand', sans-serif;

}
.listCard_image>img{
width: 100px;
margin-right: 10px;
height: 100px;

}
.ft>img{
  height: 40px;
  transform: rotate(90deg);
}
.ft>p{
 color: red;
 z-index: 90 !important;
}
.listCard_content{
    width: 300px;
margin-left: 4px;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    white-space: wrap;
   color: gray;
    text-align: left;
    
    font-size: 18px;
    overflow-wrap: anywhere;
    margin-top: -4px;
    font-family: 'Quicksand', sans-serif;
}