.listCard{
    display: flex;
    align-items: center;
margin-bottom: 10px;
  background-color: white;
 border-radius: 5px;
height: 130px;
justify-content: space-between;
font-family: 'Quicksand', sans-serif;
color: #333 !important;
font-weight: 600;
width: 100%;
flex: 1;
font-size: 16px !important;
}
.listCard_image{

padding: 20px;
}
.listCard1{
  display: flex;
  align-items: center;
margin-bottom: 10px;
background-color: white;
border-radius: 5px;
height: 130px;
font-family: 'Quicksand', sans-serif;
color: #333 !important;
font-weight: 600;
width: 100%;
font-size: 16px !important;
}
.listCard2{
  display: flex;
  align-items: center;
margin-bottom: 10px;
background-color: white;
border-radius: 5px;
height: 130px;
color: #333 !important;
font-weight: 600;
font-family: 'Quicksand', sans-serif;
font-size: 16px !important;
}


.listCard_content{
margin-left: 5px;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    white-space: wrap;
    color: #333 !important;
    text-align: left;
    overflow-wrap: anywhere;
    font-size: 16px !important;
font-weight: 600;
padding: 2px;


}
.listCard_content2{
  margin-left: 5px;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow:ellipsis;
  -webkit-box-orient: vertical;
  white-space: wrap;
  color: #333 !important;
  text-align: left;
  overflow-wrap: anywhere;
  font-size: 16px !important;
font-weight: 600;
margin-left: 40px;
}