.menuCard{
    width: 100%;
display: grid;
grid-template-columns: repeat(3,1fr);
gap:10px;
font-size: 16px !important;
color: #333;
margin-top: 0px;
}
.menuCard1{
    width: 100%;
display: grid;
grid-template-columns: repeat(3,1fr);
gap:10px;
font-size: 16px !important;
margin-top: 0px;
background-color: rgba(255, 255, 255, 0.479);
}
.menuCard_list>a{
    font-family: 'Quicksand', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 3px;
border-radius: 5px;
color: #333 !important;
font-weight: 600;
height: 80px;
background-color: white;
font-size: 16px !important;
}
.menuCard_list>img{
    width: 100%;

    height: 80px;
}
.menuCard_list1>a{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px !important;
    justify-content: center;
    padding: 3px;
    border-radius: 3px;
  
    color: #333 !important;
font-weight: 600;
width: 40px;
background-color: none;
    }
    .menuCard_list1>img{
        width: 100%;
        height: 70px;
    }
    