.product_card{
  border-radius: 6px;
  background-color: white;
  color:red
}
.product_card_cont>img{
    width: 100%;
    height: 130px;
    object-fit:cpver;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.product_card_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

}
.product_card_footer>p{
  color: orange;

}
.product_card_footer>h3{
    color: tomato;
  
  }
  .cont{

    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    white-space: wrap;
   color: gray;
    text-align: left;
    overflow-wrap: anywhere;
 margin: 10px;
}
.product_card_cont{
padding: 4px;
font-family: 'Quicksand', sans-serif;
overflow:hidden;
display: -webkit-box;
-webkit-line-clamp: 4;
text-overflow:ellipsis;
-webkit-box-orient: vertical;
white-space: wrap;
color: gray;
text-align: left;
overflow-wrap: anywhere;

}