.product_card{
  border-radius: 6px;
  background-color: white;

  color: #333 !important;
font-weight: 600;
}
.product_card_cont>img{
 
height: 100px !important;
object-fit: contain;
display: flex;
margin: 10px;
align-items: center;
justify-content: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.product_card_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin: 5px;
    font-size: 16px !important;

}
.product_card_footer>p{
  color: orange;

font-weight: 600;

}
.product_card_footer>h3{
    color: tomato;
  
font-weight: 600;
  
  }
  .cont{
    padding: 3px;
    font-weight: 500;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    white-space: wrap;
   color: #333;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    overflow-wrap: anywhere;
    margin-top: -4px;
    inline-size: 170px;
    overflow-wrap: break-word;

}
.product_card_cont{
  padding: 3px;
  font-weight: 500;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow:ellipsis;
  -webkit-box-orient: vertical;
  white-space: wrap;
 color: #333;
  text-align: left;
 
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  width: 100% !important;
  inline-size: 170px;
    overflow-wrap: break-word;
  margin-top: -4px;
}
