.listroute{
    display: flex;
    align-items: center;

   
    overflow-x: scroll;
    margin: 10px;
    background-color:tomato;
}
.list{
margin: 4px;
display: flex;
font-size: 18px;
color: white;
font-family: 'Quicksand', sans-serif;
text-transform: capitalize;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.listroute::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .listroute {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }