.listroute{
    display: flex;
    align-items: center;
    width: 95%;
   
    overflow-x: scroll;
    margin: 10px;
    background-color:#2196f3;
}
.list{
margin: 4px;
display: flex;
font-size: 18px;
color: white;
text-transform: capitalize;
}