


.search{
    display: flex;
padding-top: 50px;
  align-items: center;
  justify-content: center;

  width: 100%;

}
.search_input{
  display: flex;
 align-items: center;
 justify-content: center;
 width: 90%;
 border: 1px solid lightgray;
height: 40px;
border-radius: 30px;
margin: 10px;
background-color: white;
}
.search_input>input{
  display: flex;
 align-items: center;
 justify-content: center;

 width: 90%;
padding: 1px;
outline-width: 0;
}
.search_input>svg{
padding: 1px;

}
@media(max-width:670px){
  .search_image{
    display: none;
   align-items: center;
   justify-content: center;
   width: 100%;
  
  background-color: lightgray;
  }
.ic_search{
  display: none;
}
}

/* desktop */
@media(min-width:670px){
  .search{
    display: flex;
padding-top: 0px;
  align-items: center;
  justify-content: center;

  width: 100%;

  flex-direction:row;
}
.search_image{
  display:none;
 align-items: center;
 justify-content: center;

}
.search_input{
  display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 border: 1px solid lightgray;
height: 40px;
border-radius: 30px;
margin: 10px;
background-color: white;
}
.search_input>input{
  display: flex;
 align-items: center;
 justify-content: center;
margin-left: 10px;
 width: 90%;
padding: 1px;
outline-width: 0;
}
.appBar_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  width: 100%;
}
}